.pressgangMenu a:link {
    border-bottom: none;
}

.pressgangMenu a:visited {
    border-bottom: none;
}

.pressgangMenu img {
    margin: 0px;
}

.pressgangMenu {
    position: fixed;
    top: 8px;
    left: 8px;
    width: 300px;
    max-height: 450px;
    overflow-y: auto;
}